# Build & Dist artifacts
build/
dist/
target/
*.exe
*.zip
*.spec
*.pyc
__pycache__/

# Whitelist project spec and steam dll
!LANForge.spec
!bin/steam-tunnel/*.dll
!cmd/desktop/bin/*.dll

# Environment & Logs
.env
*.log
steam_appid.txt
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pytest_cache/
